<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring-HibernateTEST:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_HibernateTEST_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring-HibernateTEST/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring-HibernateTEST" />
        </element>
      </element>
    </root>
  </artifact>
</component>